# License: MIT
# Upstream url: http://gunicorn.org/
# Use: For wsgi running
gunicorn==23.0.0

# License: MIT
# Upstream url: http://www.gevent.org/
# Use: For concurrency
gevent==25.9.1

# License: MIT
# Upstream url: https://github.com/python-greenlet/greenlet
# Use: For concurrency
greenlet==3.2.4

# Dispatching system for parties to subscribe to events
# Supports per-endpoint timing in flask
# License: MIT
# Upstream url: https://pypi.python.org/pypi/blinker
blinker==1.9.0